*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {font-family: sans-serif;}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(bc.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 460px;

    padding: 50px;
    border-radius: 10px;
    text-align: center;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 2px solid rgb(255, 255, 255, 0.2);
}

.box-login .title{
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.box-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 45px;
}

.box-login input{
    outline: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 48px;
    border: 2px solid rgba(255, 255, 255, .2);
    padding-left: 16px;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.box-login input:focus{
    border: 2px solid rgba(255, 255, 255, .3);

}

.box-login input::placeholder{
    color: #ccc;
}

.box-login button{
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    font-size: 18px;
    background-color: #2a4859af;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.box-login button:hover{background-color: #06141daf;}

.box-login .divider{
    display: block;
    width: 80%;
    height: 2px;
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
    opacity: .2;
}

.box-login a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.box-login a:hover{
    text-decoration: underline;
}
